---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import kysNowImage from './kysnow.jpg'; 
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main style="display: flex; justify-content: center; align-items: center; min-height: 80vh;">
      <img src={kysNowImage} alt="https://github.com/JustThatCooll/you-should-keep-yourself-safe-now/blob/main/src/pages/index.astro" style="max-width: 100%; height: auto;" />
    </main>
    <Footer />
  </body>
</html>
